
.gradient{
    background: rgb(83,210,220);
    background: radial-gradient(circle, rgba(83,210,220,1) 0%, rgba(49,150,226,1) 100%);
    min-height: 100%;
    height:"100vh"
}

.holder{
    /* position: relative; */
}

.form-box{
    margin-top: 30%;
    box-shadow: 5px 10px;
}